In [ ]:
Partie 1 : Introduction  à la programmation -> 17
Partie 2 : Décision -> 44
Partie 3 : Répétition -> 72
Partie 4 : Fonction -> 85

Exercice 1: mailing adress

In [9]:
print ( "Isabelle Renard")
print ("Rue Arthur Graff")
print("67600 Selestat")

Isabelle Renard
Rue Arthur Graff
67600 Selestat

Exercice 2: Hello

In [7]:
name= input("Entrer votre nom:")
print ("Hello",name)

Entrer votre nom: Isabelle

Hello Isabelle

Exercice 3: Area of a room

In [15]:
longueur = float(input("Quelle est la longueur en m:"))
largeur = float(input("Quelle est la largeur en m"))
print("la surface est de", longueur * largeur,"m2")

Quelle est la longueur en m: 23
Quelle est la largeur en m 12

la surface est de 276.0 m2

Exercice 4: Area of a field

In [1]:
longueur = float(input("Quelle est la longueur en feet:"))
largeur = float(input("Quelle est la largeur en feet:"))
surface = (longueur * largeur)/43560
print("la surface est de","%.2f "%surface,"en acre")

Quelle est la longueur en feet: 45
Quelle est la largeur en feet: 67

la surface est de 0.07  en acre

Exercice 5: Bottle Deposits

In [40]:
petite_bouteille = int(input("Entrer le nombre de petites bouteilles:"))
grande_bouteille = int(input("Entrer le nombre de grandes bouteilles:"))
consigne_1 = 0.1
consigne_2 = 0.25
retour = petite_bouteille *consigne_1 + grande_bouteille *consigne_2
print("Le montant s'élève à","%.2f"%retour,"$")

Entrer le nombre de petites bouteilles: 23
Entrer le nombre de grandes bouteilles: 24

Le montant s'élève à 8.30 $

Exercice 6: Tax and Tip

In [3]:
repas = float(input(" Entrer le prix du repas:"))
TVA = 0.2
TIP = 0.05
montant_TVA = repas * TVA 
montant_TIP = repas * TIP 
total = repas + montant_TVA + montant_TIP 
print("la TVA est de:","%.2f"%montant_TVA,"€")
print("le TIP est de:","%.2f"%montant_TIP,"€")
print("le total du repas est de:","%.2f"%total,"€")

 Entrer le prix du repas: 45

la TVA est de: 9.00 €
le TIP est de: 2.25 €
le total du repas est de: 56.25 €

Exercice 7: Sum of the first n Poistive Integers

In [58]:
n = int(input("Entrer un nombre entier positif:"))
sum =int( n * (n + 1)/2)
print ("la somme est:", sum)

Entrer un nombre entier positif: 34

la somme est: 595

Exercice 8 : Widgets and Gizmos

In [68]:
widget = 75
gizmo = 112
nb_widget = int(input("Entrer le nombre de widget:"))
nb_gizmo = int(input("Entrer le nombre de gizmo:"))
poids_widget = widget * nb_widget 
poids_gizmo = widget * nb_gizmo
print("Le poids des widgets est de:",poids_widget,"g")
print("Le poids des gizmos est de:",poids_gizmo,"g")

Entrer le nombre de widget: 5
Entrer le nombre de gizmo: 6

Le poids des widgets est de: 375 g
Le poids des gizmos est de: 450 g

Exercice 9: Compound Interest

In [108]:
interet = 4
compte_courant = float(input("Entrer le montant du compte courant en €"))
compte_courant_1 = compte_courant + (compte_courant * interet/100)
compte_courant_2 = compte_courant_1 + (compte_courant_1 * interet/100)
compte_courant_3 = compte_courant_2 + (compte_courant_2 * interet/100)
print("le montant du compte courrant après 1 an est de:","%.2f"%compte_courant_1, "€")
print("le montant du compte courrant après 2 an est de:","%.2f"%compte_courant_2, "€")
print("le montant du compte courrant après 3 an est de:","%.2f"%compte_courant_3, "€")

Entrer le montant du compte courant en € 5900

le montant du compte courrant après 1 an est de: 6136.00 €
le montant du compte courrant après 2 an est de: 6381.44 €
le montant du compte courrant après 3 an est de: 6636.70 €

Exercice 10: Arithmetic

In [5]:
from math import log10
a = int(input("Entrer un premier nombre entier:"))
b = int(input("Entrer un second nombre entier:"))
q = a / b
print("la somme est:", a + b)
print("la difference est:", b - a)
print("le produit est:", a * b)
print("le quotient est:", "%.2f"%q)
print ("le reste est :", a % b)
print ("le resultat de log a est:","%.2f"%log10(a))
print("le resultat de a puissance est:", a**b)

Entrer un premier nombre entier: 6
Entrer un second nombre entier: 9

la somme est: 15
la difference est: 3
le produit est: 54
le quotient est: 0.67
le reste est : 6
le resultat de log a est: 0.78
le resultat de a puissance est: 10077696

In [ ]:
Exercice 11: Fuel Efficiency

Exercice 12 : Distance between two points on Earth

In [35]:
from math import *

latitude_t1 = float(input("Entrer la latitude en degrés:"))
longitude_g1 = float(input("Entrer la longitude en degrés:"))
latitude_t2 = float(input("Entrer la latitude en degrés:"))
longitude_g2 = float(input("Entrer la longitude en degrés:"))
t1 = radians(latitude_t1)
g1 = radians(longitude_g1)
t2 = radians(latitude_t2)
g2 = radians(longitude_g2)
distance = 6371.01 * acos(sin(t1) * sin(t2) + cos(t1) * cos(t2) * cos(g1 - g2))
print(f"la distance entre le point 1 de latitude {latitude_t1} et longitude {longitude_g1} et le point 2 de latitude {latitude_t2} et de longitude{longitude_g2} est de{" %.2f"%distance} km")

Entrer la latitude en degrés: 45
Entrer la longitude en degrés: 56
Entrer la latitude en degrés: 78
Entrer la longitude en degrés: 78

la distance entre le point 1 de latitude 45.0 et longitude 56.0 et le point 2 de latitude 78.0 et de longitude78.0 est de 3792.83 km

In [ ]:
Exercice 14 : Height Units

In [45]:
inch = 12 
cm= 2.54 
feet = int(input("Entrer le nombre de feet:"))
inches = int(input("Entrer le nombre d'inches:"))
taille = (feet * inch + inches) * cm
print(f"votre taille est de {"%.2f"%taille}cm")

Entrer le nombre de feet: 3
Entrer le nombre d'inches: 4

votre taille est de 101.60cm

In [ ]:
Exercice 16 : Area and Volume

In [53]:
from math import *

rayon = float(input("Quel est le rayon: "))
area = pi * rayon**2
volume = 4 / 3 * pi * rayon**3
print(f"la surface est de {round(area)} et le volume est {round(volume)}")

Quel est le rayon:  56

la surface est de 9852 et le volume est 735619

In [ ]:
Exercice 17: Heat Capacity

In [9]:
capacite_calorifique_eau = 4.186
m = float(input("Entrer la quantité d'eau:"))
dt = float(input("Entrer la variation de température:"))
q = m * capacite_calorifique_eau * dt
kwh = 2.77**-7
cout = 8.9
print(f"la quantité d'energie requise est {"%.2f"%q} J")
tarif = q * kwh * cout
print(f"le cout de la chauffe est de {"%.2f"%tarif} cent")

Entrer la quantité d'eau: 560
Entrer la variation de température: 45

la quantité d'energie requise est 105487.20 J
le cout de la chauffe est de 750.29 cent

In [ ]:
Exercice 35: Even or Odd

In [104]:
n = int(input("Entrer un entier:"))
if n % 2 == 0:
    print("c'est un nombre paire")
else:
    print("c'est un nombre impaire")

Entrer un entier: 7

c'est un nombre impaire

In [ ]:
Exercice 36: Dog Year

In [13]:
n =float(input("Entrer l'âge du chien"))

if n <= 0:
    print( " C'est une erreur")    
elif 0 < n <= 2:
    age_estime = n * 10.5
else:
    age_estime = 2 * 10.5 + (n-2) * 4
print(f"Le chien a {round(age_estime)} ans")

Entrer l'âge du chien 8

 le chien a 45 ans

In [ ]:
Exercice 37 : Vowel or consonnant

In [27]:
lettre = input("Entrer une lettre")
if lettre  == "a" or lettre  == "e" or lettre == "i" or lettre == "o" or lettre == "u":
     print("c'est une voyelle")
elif lettre == "y":
     print("c'est parfois une voyelle ou une consonne")
else:
    print("c'est une consonne")

Entrer une lettre d

c'est une consonne

In [ ]:
Exercice 38 :  Name that Shape

In [33]:
cote = int(input(" Entrer le nombre de côtés"))
forme = " "
if cote == 3:
    forme = "triangle"
elif cote == 4:
    forme = "carré"    
elif cote == 5:
    forme = "pentagaone"
elif cote == 6:
    forme = "hexagone"
elif cote == 7:
    forme = "heptagone"
elif cote == 8:
    forme = "octogone"
print("c'est un", forme)

 Entrer le nombre de côtés 8

c'est un octogone

In [ ]:
Exercice  39: Month Name to Number of Days

In [43]:
mois = input("Entrer le mois")
jours = " "
if  mois == "janvier" or  mois == "mars" or mois == "mai" or  mois == "juillet" or mois == "aout" or mois == "Octobre" or mois == "Decembre":
    jours = "31"
elif mois == "fevrier":
    jours = "28 ou 29"
elif mois == "avril" or mois == "juin" or mois == "septembre" or mois == "novembre":
    jours = "30"

print(f"le mois de {mois} à {jours} jours")

Entrer le mois avril

le mois de avril à 30 jours

In [ ]:
Exercice 40 : SOund Levels

In [65]:
db = int(input("Entrer le nombre de décibels:"))
level = " "
if db < 40:
    level = "c'est calme"
elif db == 40 :
    level = "Quiet Room"
elif 40 < db < 70:
    level = " c'est entre Quiet Room et Alarm clock"
elif db == 70:
    level = "Alarm clock"
else:
    level = " trop bruyant"
print(level)

Entrer le nombre de décibels: 89

 trop bruyant

In [ ]:
Exercise 41 : Classifying Triangles

In [11]:
cote_1 = float(input("Entrer la longueur du premier côté:"))
cote_2 = float(input("Entrer la longueur du deuxième côté:"))
cote_3 = float(input("Entrer la longueur du troisième côté:"))
forme = " " 
if cote_1 != cote_2 != cote_3 :
    forme = "scalene"
elif cote_1 == cote_2 == cote_3:
    forme = "equilateral"
else:
    forme = "isocele"
print (f"le triangle est un triangle {forme}")

Entrer la longueur du premier côté: 4
Entrer la longueur du deuxième côté: 8
Entrer la longueur du troisième côté: 8

le triangle est un triangle isocele

In [ ]:
Exercice 42 : Fréquence des notes

In [ ]:
Exercice 44 : Faces on money

In [15]:
valeur =int(input("Entrer la valeur du billet"))
designation = " "
if valeur == 1 :
    print("G. Washington")
elif  valeur == 2 :
    print("T. Jefferson")
elif  valeur == 5 :
    print("A. Lincoln")
elif  valeur == 10 :
    print("A. Hamilton")
elif  valeur == 20 :
    print("A. Jackson")
elif  valeur == 50 :
    print("U. Grant")
elif  valeur == 100 :
    print("B. Franklin")
else:
    print("Le billet n'existe pas")

Entrer la valeur du billet 100

B. Franklin

In [ ]:
Exercise 45 : Date to holiday Name

In [83]:
jour = input("Entrer un jour et un mois:")
date = " "
if jour == "1 janvier":
    date = "nouvelle année"
elif jour == "1 juillet":
    date = "Canada Day"
elif jour == "25 Decembre":
    date = "Noel"
else:
    date = "Ce n'est pas un jour férié"   
print(date)

Entrer un jour et un mois: 8 avril

Ce n'est pas un jour férié

In [ ]:
Exercice 46 : What Color is That square

In [110]:
ligne =int( input("Entrer le n° de la ligne"))
colonne = input("Entrer la lette de la colonne")
c1 = " "
case = " "
if colonne == "a" or colonne == "c" or colonne == "e" or colonne == "g":
    c1 = "noir"
    if ligne % 2 == 0:
        case = "blanc"
    else:
        case = "noir"
else:
    c1 = "blanc"
    if ligne % 2 == 0:
        case = "noir"
    else:
        case = "blanc"
print(case)

Entrer le n° de la ligne 2
Entrer la lette de la colonne b

noir

In [ ]:
Exercice  47 : Season from month and day

In [140]:
mois = input("Entrer le mois:")
jour = int(input("Entrer le jour:"))
saison = " "
if mois == "janvier"  or mois  == "fevrier"  or (mois == "mars" and jour < 20):
    saison = "hiver"
elif (mois == "mars" and jour >= 20) or mois == "avril" or mois == "mai" or (mois == "juin" and jour < 21):
    saison = "printemps"
   
elif (mois == "juin" and jour >= 21) or mois == "juillet" or mois == "aout" or( mois == "septembre" and jour < 22):
    saison = "été"

elif ( mois == "septembre" and jour >= 22) or mois == "octobre" or mois == "novembre" or( mois == "decembre" and jour < 21):
    saison = "automne"
else:
    saison = "hiver"
        
print(saison)

Entrer le mois: juin
Entrer le jour: 26

été

In [ ]:
Exercice 48 : birth date to astrological Sign -> à finir

In [ ]:
mois = input("Entrer le mois de naissance:")
jour = int(input("Entrer le jour de naissance"))

signe = " "
if (mois == "decembre" and jour > 21) or (mois == "janvier" and jour <20):
    signe = "capricorne"
elif (mois == "janvier" and jour > 19) or (mois == "fevrier" and jour <19):
    signe = "verseau"
elif (mois == "fevrier" and jour > 18) or (mois == "mars" and jour <21):
    signe = "poisson"
elif (mois == "mars" and jour > 21) or (mois == "avril" and jour <18):
    signe = "bélier"
elif (mois == "avril" and jour > 20) or (mois == "mai" and jour <21):
    signe = "Taureau"
elif (mois == "mai" and jour > 20) or (mois == "juin" and jour <21):
    signe = "gémeaux"
elif (mois == "juin" and jour > 20) or (mois == "juillet" and jour <23):
    signe = "gémeaux"

In [ ]:
Exercice 63 : Average

In [15]:
x = float(input("Entrer un nombre(0 pour arrêter):"))
sum = 0
n = 0 
while x != 0 :
    sum = sum + x
    n = n + 1
    x = float(input("Entrer un nombre(0 pour arrêter):"))
avg = sum / (n-1)
print(avg)

Entrer un nombre(0 pour arrêter): 9
Entrer un nombre(0 pour arrêter): 8
Entrer un nombre(0 pour arrêter): 0

17.0

In [ ]:
Exercice 64:  Discount Table

In [9]:
prix_original = [4.95, 9.95, 14.95, 19.95, 24.95]
rabais = 0.6
print (" prix original     "," remise    ", "prix final")
for i in prix_original:
    discount = i * rabais
    prix_discount = i - discount
    print ("%10.2f   %14.2f   %9.2f "%(i,discount,prix_discount))

 prix original       remise     prix final
      4.95             2.97        1.98
      9.95             5.97        3.98
     14.95             8.97        5.98
     19.95            11.97        7.98
     24.95            14.97        9.98

In [ ]:
Exercice 65 : table de conversion de températures

In [60]:
temp_C = [0, 10, 20, 30 , 40, 50, 60, 70, 80, 90, 100]
print (" T °C     "," T °F    ")
for i in temp_C:
    F = (i*9/5) + 32
    print ("%6.2f   %6.2f "%(i,F))

 T °C       T °F
  0.00    32.00
 10.00    50.00
 20.00    68.00
 30.00    86.00
 40.00   104.00
 50.00   122.00
 60.00   140.00
 70.00   158.00
 80.00   176.00
 90.00   194.00
100.00   212.00

In [ ]:
Exercice 66: No more pennies-> à finir

In [17]:
prix = input("Entrer le prix d'un article:")
total = 0
while prix != " ":
    prix = float(prix)
    total = total + prix
    prix = input("Entrer le prix d'un article:")
print (total)
penny = total - int(total)
if penny % 5 = 0:
    print( total)
elif penny
else:
    cent = elif penny / 5 > 2.5 :
    
    
print("%.2f"%penny)

Entrer le prix d'un article: 8.89
Entrer le prix d'un article: 5.63
Entrer le prix d'un article: 2.45
Entrer le prix d'un article:

16.97
0.97

In [ ]:
Exercice 67 : Compute the perimeter of a Polygon

In [25]:
from math import *

perimetre = 0
# premières coordonnées
x1 = float(input("Entrer la première coordonnée X:"))
y1 = float(input("Entrer la première coordonées Y:"))

#Initialisation des coordonnées
coordonnee_x = x1
coordonnee_y = y1

#calcul des coordonnées suivantes
question = (input("Entrer la prochaine coordonnée X ( Espace pour stopper):"))
while question != " ":
    x = float(question)
    y = float(input("Entrer la prochaine coordonnée Y ( Espace pour stopper):"))
    distance = sqrt((coordonnee_x - x)**2 + (coordonnee_y)**2)
    perimetre = perimetre + distance
    coordonnee_x =  x
    coordonnee_y =  y
    question = input("Entrer la prochaine coordonnée X ( Espace pour stopper):")
distance = sqrt((x1 - x)**2 + (y1-y)**2)
perimetre =  perimetre = perimetre + distance
print( " Le périmère du polygone est:", perimetre)

Entrer la première coordonnée X: 0
Entrer la première coordonées Y: 0
Entrer la prochaine coordonnée X ( Espace pour stopper): 1
Entrer la prochaine coordonnée Y ( Espace pour stopper): 0
Entrer la prochaine coordonnée X ( Espace pour stopper): 0
Entrer la prochaine coordonnée Y ( Espace pour stopper): 1
Entrer la prochaine coordonnée X ( Espace pour stopper):

 Le périmère du polygone est: 3.0

In [ ]:
Exercice 69 : Admission price

In [1]:
#prix des places
prix_bb = 0
prix_enfant = 14
prix_adulte = 23
prix_senior = 18

# initialisation du nombre de places
nbb = 0
nenf = 0
nsen = 0
nadu = 0

#initialisation du prix
prix_entree = 0

#age des visiteurs
age = input(" Entrer votre âge:")
while age != " ":
    annee = float(age)
    if annee <= 2:        
        nbb += 1
    elif 3 <= annee <= 12:
        nenf += 1
    elif 15 <= annee <= 64:
        nadu +=  1
    else:
        nsen += 1
    age = input(" Entrer votre âge:")
total = prix_bb * nbb + prix_enfant * nenf + prix_adulte * nadu + prix_senior * nsen
print("le montant total est de","%.2f"%(total),"€")

 Entrer votre âge: 1
 Entrer votre âge: 5
 Entrer votre âge: 18
 Entrer votre âge: 69
 Entrer votre âge:

le montant total est de 55.00 €

In [ ]:
Exercice 72 : Fizz-Buzz

In [29]:

for i in range (1,101):
    if i % 3 == 0 and i % 5 == 0:
        print(i,"FIZZ & BUZZ")
    elif i % 3 == 0 :
        print(i,"FIZZ")
    elif i % 5 == 0 :
         print(i,"BUZZ") 
    else:
        print( i)

1
2
3 FIZZ
4
5 BUZZ
6 FIZZ
7
8
9 FIZZ
10 BUZZ
11
12 FIZZ
13
14
15 FIZZ & BUZZ
16
17
18 FIZZ
19
20 BUZZ
21 FIZZ
22
23
24 FIZZ
25 BUZZ
26
27 FIZZ
28
29
30 FIZZ & BUZZ
31
32
33 FIZZ
34
35 BUZZ
36 FIZZ
37
38
39 FIZZ
40 BUZZ
41
42 FIZZ
43
44
45 FIZZ & BUZZ
46
47
48 FIZZ
49
50 BUZZ
51 FIZZ
52
53
54 FIZZ
55 BUZZ
56
57 FIZZ
58
59
60 FIZZ & BUZZ
61
62
63 FIZZ
64
65 BUZZ
66 FIZZ
67
68
69 FIZZ
70 BUZZ
71
72 FIZZ
73
74
75 FIZZ & BUZZ
76
77
78 FIZZ
79
80 BUZZ
81 FIZZ
82
83
84 FIZZ
85 BUZZ
86
87 FIZZ
88
89
90 FIZZ & BUZZ
91
92
93 FIZZ
94
95 BUZZ
96 FIZZ
97
98
99 FIZZ
100 BUZZ

In [ ]:
Exercice 85 : Compute the Hypothenuse

In [51]:
from math import *
def hypothenuse(cote_adjacent, cote_oppose) :
    hypo = sqrt(cote_adjacent ** 2 + cote_oppose**2)
    return hypo

def main() :
    adjacent = int(input("Entrer la longueur du côté adjacent:"))
    oppose = int(input("Entrer la longueur du côté opposé:"))
    resultat = hypothenuse(adjacent,oppose)
    print(f"La longueur de l'hypothenuse est {"%.2f"% resultat}")
main()

Entrer la longueur du côté adjacent: 9
Entrer la longueur du côté opposé: 5

La longueur de l'hypothenuse est 10.30

In [ ]:
Exercice  110 : Sorted Order

In [7]:
#Initialisation de la liste
data = []
#saisie des données
n = int(input ("Entrer un entier (0 pour arrêter):"))
# boucle de saisie
while n != 0:
    data.append(n)
    n = int(input ("Entrer un entier (0 pour arrêter):"))
# tri des données
data.sort()
# affichage en ligne
for i in data:
    print(i)

Entrer un entier (0 pour arrêter): 8
Entrer un entier (0 pour arrêter): 6
Entrer un entier (0 pour arrêter): 9
Entrer un entier (0 pour arrêter): 0

6
8
9

In [ ]:
Exercice 111 : reverse order

In [9]:
#Initialisation de la liste
data = []
#saisie des données
n = int(input ("Entrer un entier (0 pour arrêter):"))
# boucle de saisie
while n != 0:
    data.append(n)
    n = int(input ("Entrer un entier (0 pour arrêter):"))
# tri des données
data.reverse()
# affichage en ligne
for i in data:
    print(i)

Entrer un entier (0 pour arrêter): 9
Entrer un entier (0 pour arrêter): 2
Entrer un entier (0 pour arrêter): 48
Entrer un entier (0 pour arrêter): 0

48
2
9

In [ ]:
Exercice  112 : Remove outliers

In [72]:
#Initialisation de la liste
data = []
nbsaisie = 0
#saisie des données
n = int(input ("Entrer un entier (0 pour arrêter):"))
# boucle de saisie
while n != 0 :
    data.append(n)
    n = int(input ("Entrer un entier (0 pour arrêter):"))
    nbsaisie += 1
    if nbsaisie < 4:
        print ("il faut encore une valeur")
#sauvegarde de la liste originale
liste_originale = data.copy()
#tri des données
data.sort()
#suppression des données
data.pop(0)
data.pop(0)
data.pop(-1)
data.pop(-1)
#affichage des listes finale et originale
print(data)
print(liste_originale)

Entrer un entier (0 pour arrêter): 8
Entrer un entier (0 pour arrêter): 6

il faut encore une valeur

Entrer un entier (0 pour arrêter): 5

il faut encore une valeur

Entrer un entier (0 pour arrêter): 2

il faut encore une valeur

Entrer un entier (0 pour arrêter): 3
Entrer un entier (0 pour arrêter): 0

[5]
[8, 6, 5, 2, 3]

In [ ]:
Exercice 113: Avoiding Duplicates

In [ ]:
#initialisation de la liste
liste = []
nb = 0
# saisie des données
mot = input("Entrer un mot:")

#boucle de saisie
while mot != " ":
    liste.append(mot)
    mot = input("Entrer un mot:")
    nb +=1
#sauvegarde de la liste originale
liste_originale = liste.copy()
print(liste)

In [ ]:
Exercice 145 :  Scrabble Score version 1

In [9]:
#création du dictionnaire
dico = {"A":1,"B":3,"C":3,"D":2,"E":1,"F":4,"G":2,"H":4,"I":1,"J":8,"K":5,"L":1,"M":3,"N":1,"O":1 ,"P":3, "Q":10, "R":1, "S":1, "T":1, "U":1, "V":4, "W":4, "X":8, "Y": 4, "Z":10}
point = 0
# Saisie du mot
mot = input("Entrer un mot").upper()
#calcul  des points
for lettre in mot :
    point = point + dico[lettre]
print(f"Le mot {mot} compte pour {point} points")

Entrer un mot python

Le mot PYTHON compte pour 14 points

In [ ]:
Exercice 145 :  Scrabble Score version 2